In [1]:
import pandas as pd
import numpy as np
from scipy.stats import bernoulli

## Missing Data Management and using Pandas

### Exercise 
Consider a database where each record has $100$ fields. Assume further that for each record, each of the $100$ fields has a $1$ per cent chance of being empty, i.e. its value is missing.

If we were to remove all records with one or more empty fields, how many records would we remove?

In [2]:
#Step 1) Generate a matrix of rowx * 100 columns
nr_rows = 10000 #let's say we have this many rows
data_to_use = np.ones(nr_rows*100) #generate all-ones
df_exercise = pd.DataFrame(data_to_use.reshape(nr_rows, 100)) #reshape the data so that we have rows * 100

In [3]:
#Step 2) Generate indices of missing values
missing_or_not = bernoulli.rvs((1/100), size=nr_rows*100) #keeps whether or not each element of df_exercise is missing
missing_or_not = missing_or_not.reshape(nr_rows, 100) #reshape so that index of missing values correspond to df_exercise

In [4]:
missing_rows, missing_cols = np.where(missing_or_not == 1) #indices of missing values

In [5]:
df_exercise.values[missing_rows, missing_cols] = np.nan #make the values missing for those indices

In [6]:
df_exercise

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9996,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9997,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9998,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9999,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [7]:
print("In total, there are" ,np.sum(df_exercise.isnull().sum()),"missing values")
#It should match `np.size(missing_rows)`

In total, there are 9948 missing values

In [8]:
#Let's see how many rows have at least one NaN
df_missing = df_exercise.isnull().any(axis=1) #each tow has True if at least one element is nan, False otherwise

In [9]:
print("There are", np.sum(df_missing), "rows with at least one missing data")
print("So if we drop rows with missing values, we lose", np.sum(df_missing)/nr_rows, "fraction of the whole data")

There are 6350 rows with at least one missing data
So if we drop rows with missing values, we lose 0.635 fraction of the whole data

In [10]:
print("In other words, the following has", nr_rows - np.sum(df_missing) ,"rows")
df_exercise.dropna()

In other words, the following has 3650 rows

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9976,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9990,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9994,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9997,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

Of course, what we have just observed can be derived mathematically. Namely, we are interested in the probability of a single row to have no NaNs. Let $E$ be the event where all the $100$ variables are not-NaN for an arbitrary row. We then have
\begin{align*}
\mathbb{P}[E] = \prod_{i=1}^{100} \mathbb{P}[\text{i-th variable is not NaN}] & = \prod_{i=1}^{100} (1 - 1/100) \\
& = \left(\dfrac{99}{100}\right)^{100} = (0.99)^{100}.
\end{align*}
Notice that the first equality holds as each variable has a 1 per cent probability of being NaN *independently*.

In [11]:
prob_E = 0.99 ** 100
np.round(prob_E,3) #round to three decimals

0.366

Since we have `nr_rows` rows in the experiment above, we except to have $0.99 *$ `nr_rows` many rows after we drop the rows with at least one NaN values. Let's see if this is correct.

In [12]:
print("We expect to have", round(nr_rows * prob_E), "rows that are not dropped, and our experiment ended with", nr_rows - np.sum(df_missing), "rows")

We expect to have 3660 rows that are not dropped, and our experiment ended with 3650 rows

Although our expectation and the result of experiment are close to each other, they are not the same number. This is due to random sampling. We will see in the upcoming modules that if we increase the number of rows in this experiment, then the number of rows that are not dropped in the experiment will be equal to $(0.99)^{100}$ as we derived.